body{
    overflow: hidden;
}

.center-block {  
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    aspect-ratio: 1/1;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 20px;
}

title{
    background-color: black;
}

canvas { 
    background-color: whitesmoke;
    width: 100%;
}

.restart {

}
